<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../semantic/semantic.min.css">
</head>

<body class="ui container">
    <% if(folder.parentFolder){ %>
    <a href="/folder/<%= folder.parentFolder._id %>">Back</a>
    <% } %>

    <div class="ui header huge" data-id="<%=folder._id%>" id="folderID"><%= folder.name %></div>

    <div id="folderDiv">
        <div id="folderList" class="ui horizontal list">
            <% folder.childFolders.forEach((x)=>{ %>
            <%if(x){%>
            <div class="ui item">
                <div class="folderName" data-id="<%= x._id %>"><%= x.name %></div>
                <a href="/folder/<%=x._id%>" data-id="<%= x._id %>">Link</a>
                <div class="moveFolder" data-id="<%= x._id %>">Move</div>
                <form action="/folder/<%=x._id%>?_method=DELETE" method="POST" data-id="<%= x._id%>">
                    <button>Delete</button>
                </form>
            </div>
            <%}%>
            <% }) %>
        </div>
    </div>

    <div id="fileDiv">
        <div id="fileList" class="ui horizontal list">
            <% folder.childFiles.forEach((x)=>{ %>
            <%if(x){%>
            <div class="ui item">
                <div class="fileName" data-id='<%=x._id%>'><%= x.name %></div>
                <div class='delete' data-id='<%=x._id%>'>DELETE</div>
                <div class='copy' data-id='<%=x._id%>'>COPY</div>
                <div class="moveFile" data-id="<%= x._id %>">MOVE</div>
                <a href='/folder/<%=folder._id%>/file/<%=x._id%>' data-id='<%= x._id%>'>DL</a>
            </div>
            <%}%>
            <% }) %>
        </div>
    </div>


    <div class="ui form">
        <form enctype="multipart/form-data" id="fileUpload">
            <label>Upload File</label>
            <input type="file" name="file" id="fileField">
            <button>submit</button>
        </form>
    </div>

    <div class="ui form">
        <form action="/folder/<%=folder._id%>/new" method="POST" id="folderUpload">
            <div class="ui labeled  action input">
                <div class="ui label">New Folder</div>
                <div class="ui input">
                    <input type="text" name="folderName" id="folderName">
                </div>
                <button class="ui button">submit</button>
            </div>

        </form>
    </div>

    <div id="uploadedDiv">
        <ul id="uploadedList">
            <li>Hi</li>
        </ul>
    </div>

    <div id="moveFolderDialog">
        <div id="">
            Folders
            <ul id="moveFolderList">
            </ul>
        </div>
        <div>
            Files
            <ul id="moveFileList">
            </ul>
        </div>
        <div id='cancelMoveButton'>Cancel</div>
    </div>

    <script type="text/javascript" src="../script/script.js"></script>
</body>

</html>