<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <% if(folder.parentFolder){ %>
    <a href="/folder/<%= folder.parentFolder._id %>">Back</a>
    <% } %>

    <h1 data-id="<%=folder._id%>" id="folderID"><%= folder.name %></h1>
    <div id="folderDiv">
        <% folder.childFolders.forEach((x)=>{ %>
        <%if(x){%>
        <a href="/folder/<%=x._id%>" data-id="<%= x._id %>"><%= x.name %></a>
        <%}%>
        <% }) %>
    </div>
    <div id="fileDiv">
        <ul id="fileList">
            <% folder.childFiles.forEach((x)=>{ %>
            <%if(x){%>
            <li>

                <a href='/folder/<%=folder._id%>/<%=x._id%>' data-id='<%= x._id%>'>
                    <%= x.name %>
                </a>
                <div class='delete' data-id='<%=x._id%>'>x</div>
            </li>
            <%}%>
            <% }) %>
        </ul>
    </div>


    <div>
        <form enctype="multipart/form-data" id="fileUpload">
            <label>Upload File</label>
            <input type="file" name="file" id="fileField">
            <button>submit</button>
        </form>
    </div>

    <div>
        <form action="/folder/<%=folder._id%>/new" method="POST" id="folderUpload">
            <label>New Folder</label>
            <input type="text" name="folderName" id="folderName">
            <button>submit</button>
        </form>
    </div>

    <div id="uploadedDiv">
        <ul id="uploadedList">
            <li>Hi</li>
        </ul>
    </div>

    <script type="text/javascript" src="../script/script.js"></script>
</body>

</html>